<form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="model">Модел:</label>
      <input type="text" id="model" name="model" [(ngModel)]="newClimate.model" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="brand">Марка:</label>
      <input type="text" id="brand" name="brand" [(ngModel)]="newClimate.brand" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="coolingCapacity">Охлаждащ капацитет (BTU):</label>
      <input type="number" id="coolingCapacity" name="coolingCapacity" [(ngModel)]="newClimate.coolingCapacity" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="energyEfficiencyRating">Енергийна ефективност:</label>
      <input type="text" id="energyEfficiencyRating" name="energyEfficiencyRating" [(ngModel)]="newClimate.energyEfficiencyRating" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="price">Цена:</label>
      <input type="number" id="price" name="price" [(ngModel)]="newClimate.price" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Добави климатик</button>
  </form>

