<div class="register-page">
    <div class="form">
      <form class="register-form">
        <input
          type="text"
          placeholder="Username"
          name="username"
        />
        <input
          type="email"
          placeholder="Email"
          name="email"
        />
        <input
          type="password"
          placeholder="Password"
          name="password"
        />
        <input
          type="password"
          placeholder="Confirm Password"
          name="confirmPassword"
        />
        <button>Register</button>
        <p class="message">
          Already Registered?<a routerLink="/login">Login</a>
        </p>
      </form>
    </div>
  </div>