<header>
  <div class="header">
    <img src="http://clima.bg/userfiles/logo/climabglogo.png" />
    <div class="header-right">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/models" routerLinkActive="active">Models</a>
      
      <a routerLink="/about" routerLinkActive="active">About</a>
      <div *ngIf="!isLoggedIn">
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
      </div>
      <div *ngIf="isLoggedIn">
        <a routerLink="/add-model" routerLinkActive="active">Add model</a>
        <a routerLink="/profile" routerLinkActive="active">{{userProfile}}`s Profile</a>
        <a (click)="logout()" routerLink="/logout" routerLinkActive="active">Logout</a>
        
      </div>
    </div>
  </div>
</header>

<!-- <header>
  <div class="header">
    <img src="https://clima.bg/userfiles/logo/climabglogo.png" />
    <div class="header-right">
      <a routerLink="/home">Home</a>
      <a class="active" routerLink="/models">Models</a>
      <a routerLink="/add-model">Add model</a>
      <a routerLink="/about">About</a>
      <div *ngIf="!isLoggedIn">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</header> -->
