<footer>
  <div class="footer-container">
    <div class="contact-info">
      <p>Адрес: ул.Пещерско шосе № 53, гр. Пловдив, България</p>
      <p>Телефон: +359 878 160 393</p>
    </div>
    <div class="social-links">
      <p>
        Посетете ни в социалните мрежи:
        <a href="https://www.facebook.com/clima.bg" target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="https://maps.app.goo.gl/jm7suJgtEMesgDdB6" target="_blank"
          ><i class="fab fa-google"></i
        ></a>
      </p>
    </div>
  </div>
</footer>
